%link(rel="stylesheet" type="text/css" href="/style.css")


%h1 Confirm(we need some sexy title here)
%br

-if info != nil
  %h2 #{info}
  %br


-@database = Marketplace::Database.instance

%h3
  These are the items you are about to buy
%br



%table#table_new
  %thead
    %th
    %th
      Name
    %th
      Quantity
    %th
      Price

  %tbody
    -total_price = 0
    -map.each do |id,quantity|
      -if((quantity).to_i!=0)
        -item = @database.item_by_id(id.to_i)
        -total_price += item.price*(quantity).to_i
        %tr
          %td{:width => "74"}
            %img{:height => "70", :width => "70", :src => "/item_image_upload/#{item.pictures[0]}"}
          %td
            %a{:href => "/item/#{item.id}"} #{item.name}
          %td
            #{quantity}
          %td
            #{item.price}
    %tr
      %td(colspan='4' align="right")
        Total-Price: #{total_price}
%br

%form(action = "/" method = "GET")
  %input(type='submit' value='Abort')
%form(action = "/buy" method = "POST")
  -x = 0
  -map.each do |id,quantity|
    %input(type='hidden' name="id#{x}" value="#{id}")
    %input(type='hidden' name="quantity#{x}" value="#{quantity}")
    -x = x + 1
  %input(type='submit' value='Buy')