%link(rel="stylesheet" type="text/css" href="/style.css")

%h1 Item: #{item.name}
%br
- if info != nil
   %h2 #{info}
   %br

%form( method="POST" )
   Name
   %input(type="text" name="name" value="#{item.name}")
   %p
   Price
   %input(type="text" name="price" value="#{item.price}")
   %p
   %input(type="submit" value="Change")

%a{:href => "/item/#{item.id}"} Discard