%link(rel="stylesheet" type="text/css" href="/design.css")

%h1 Item: #{item.name}

- if info != nil
   %h2 #{info}

%form( method="POST" )
   Name
   %input(type="text" name="newName" value="#{item.name}")
   %p
   Price
   %input(type="text" name="newPrice" value="#{item.price}")
   %p
   %input(type="submit" value="change")

%a{:href => "/item/#{item.id}"} discard