%link(rel="stylesheet" type="text/css" href="/style.css")


%h1 My Item: #{item.name}
%br

//SHOW MESSAGES AND ERRORS
-if info != nil
  %table#table_new
    -if (info.split(" ~ ").first()=="error")
      -info = info.split(" ~ ").last()
      %td
        %img{:src => "/icons/error.png"}
      %td
        %h2 #{info}
    -else
      -info = info.split(" ~ ").last()
      %td
        %img{:src => "/icons/success.png"}
      %td
        %h4 #{info}
  %br

%table#table_new
  %tr
    %td{:height => 300, :width => 200}
      -if item.pictures.size != 0
        %img{:height => "200", :width => "200", :src => "/item_images/#{item.pictures[0]}"}
        %br
        %img{:height => "98", :width => "98", :src => "/item_images/#{item.pictures[1]}"}
        %img{:height => "98", :width => "98", :src => "/item_images/#{item.pictures[2]}"}
      -else
        %img{:height => "200", :width => "200", :src => "/item_images/default_image.jpg"}
        %br
        %img{:height => "98", :width => "98", :src => "/item_images/default_image.jpg"}
        %img{:height => "98", :width => "98", :src => "/item_images/default_image.jpg"}
    %td


      -if !item.is_in_auction_mode?
        Price: #{item.price}
        %img{:src => "/icons/coins.png"}
        %br
        For sale:
        -if item.active
          %img{:src => "/icons/accept.png"}
        -else
          %img{:src => "/icons/cross.png"}
          -if item.auction_end_time
            This item will be put up for auction
            %img{:src => "/icons/auction.png"}
            The auction will end at #{item.auction_end_time.to_s}
        %br
        Quantity: #{item.quantity}
        %img{:src => "/icons/package.png"}
      -else
        %img{:src => "/icons/accept.png"} This item is up for auction
        %img{:src => "/icons/auction.png"}
        The auction ends at #{item.auction_end_time.to_s}
        %br
        Current selling price:
        #{item.get_auction_selling_price}
        %img{:src => "/icons/coins.png"}
        (initial minimal price: #{item.price}
        %img{:src => "/icons/coins.png"}
        )
        %br
        Increment: #{item.increment}
        %br
        Current winner:
        -if !item.get_auction_current_winner
          No bids yet.
        -else
          %a{:href => "/user/#{item.get_auction_current_winner.name}"} #{item.get_auction_current_winner.name}
  %tr
    %td{:colspan => 2, :align => "center"}
      -if item.active
        -if item.can_be_deactivated?
          %form( action="/item/#{item.id}/activate" method="POST" )
            %input(type="submit" value="Deactivate")
        -else
          %form( action="/item/#{item.id}/activate" method="POST" )
            %input(type="submit" disabled="disabled" value="Deactivate")
            %label Cannot deactivate items with bidders.

        %form( action="/item/#{item.id}/edit" method="POST" )
          %input(type="submit" disabled="disabled" value="Edit")
          %label Cannot edit active items.
      -else
        %form( action="/item/#{item.id}/activate" method="POST" )
          %input(type="submit" value="Activate")
        %form( action="/item/#{item.id}/edit" method="GET" )
          %input(type="submit" value="Edit")
