%link(rel="stylesheet" type="text/css" href="/style.css")

%h1 Item: #{item.name}

-if info != nil
  %h2 #{info}

%p
%p
Price: #{item.price}
%p
State: #{item.active}
%p
Owner:
%a{:href => "/user/#{item.owner.name}"} You ;)

%p

-if item.active
  %form( action="/item/#{item.id}/activate" method="POST" )
    %input(type="submit" value="Deactivate")
  %form( action="/item/#{item.id}/edit" method="POST" )
    %input(type="submit" disabled="disabled" value="Edit")
-else
  %form( action="/item/#{item.id}/activate" method="POST" )
    %input(type="submit" value="Activate")
  %form( action="/item/#{item.id}/edit" method="POST" )
    %input(type="submit" value="Edit")