%link(rel="stylesheet" type="text/css" href="/style.css")

%h1 Item: #{item.name}
%br
%p
Price: #{item.price}
%p
On sale: #{item.active}

%p

-if item.active
  %form(action = "/item/#{item.id}" method="POST")
    %input(name = 'activation' type='hidden' value ='deactivate')
    %input(type='submit' value = 'deactivate it')
-else
  %form(action = "/item/#{item.id}" method="POST")
    %input(name = 'activation' type='hidden' value ='activate')
    %input(type='submit' value = 'activate it')
  %a{:href => "/edit/#{item.id}"} Edit item

%p
%p
%p


%a{:href => "/"} Home