%link(rel="stylesheet" type="text/css" href="/style.css")

:javascript
  $(function() {
    $('input#search_query').quicksearch('table#search_in tbody tr', {
    noResults: '#noresults'
    });
  });
  $(document).ready(function () {
    $("#search_query").val($("#query_field").val()).trigger('change');
  });
  $('#search_in').ready(function () {
  			$('#search_in').jTPS( {perPages:[15,50,'ALL'],scrollStep:1,scrollDelay:30} );
  			// bind mouseover for each tbody row and change cell (td) hover style
  			$('#search_in tbody tr:not(.stubCell)').bind('mouseover mouseout',
  				function (e) {
  					// hilight the row
  					e.type == 'mouseover' ? $(this).children('td').addClass('hilightRow') : $(this).children('td').removeClass('hilightRow');
  				}
  			);
   });




%h1 Item search:
%br

%form(action="#")
  %input(type="hidden" id="query_field" value="#{search_query}")

%h3 Search Results

%table#search_in
  %thead
    %tr
      %th Picture
      %th(sort="name") Name
      %th(sort="number") Quantity
      %th(sort="price") Value
      %th(sort="person") Owner
      %th Buy
  %tbody
    %tr(id="noresults")
      %td(colspan="6")
        No Results

    -for category in categories
      %tr
        %td{:width => "74"}
          - if category[0].pictures.size > 0
            %img{:height => "70", :width => "70", :src => "/item_images/#{category[0].pictures[0]}"}
          - else
            %img{:height => "70", :width => "70", :src => "/item_images/default_image.jpg"}
        %td{:align => "center"}
          -if category.length > 1
            #{category[0].name}
          -else
            %a{:href => "/item/#{category[0].id}"}#{category[0].name}
        %td{:align => "center"}
          -i = 0
          -for item in category
            -i = i + item.quantity
          #{i}
          %img{:src => "icons/package.png"}
        %td{:align => "center"}
          -if category.length > 1
            %h3 starting at
            #{category[0].price}
          -else
            #{category[0].price}
          %img{:src => "icons/coins.png"}
        %td{:align => "center"}
          -if category.size >1
            #{category.size}
            %img{:src => "icons/user_silhouette.png"}
          -else
            %a{:href => "/user/#{category[0].owner.name}"} #{category[0].owner.name}
        %td
          -if category[0].price <= current_user.credits
            %form( action="/buy" method="GET" )
              %input(type="text" name="quantity" value=1 size=1)
              %input(type='hidden' name="category" value="#{category[0].name}")
              %input(type="submit" value="Continue")
          -else
            %form( action="/buy" method="GET" )
              %input(type="submit" disabled="disabled" value="Continue")
        %td(style="display:none")
          -i=0
          -while(i<=category.size-1)
            #{category[i].owner.name}
            -i+=1
  %tfoot(class="nav")
    %tr
      %td(colspan="6")
        %div(class="pagination")
        %div(class="paginationTitle")
          Page
        %div(class="selectPerPage")
        %div(class="status")
