%link(rel="stylesheet" type="text/css" href="/style.css")

%h1 Item: #{item.name}
%br

=haml :'message_template', :locals => { :info => info }

%table#table_new
  %tr
    %td{:height => 300, :width => 200}
      %img{:height => "200", :width => "200", :src => item.image_path(0) }
      %br
      %img{:height => "98", :width => "98", :src => item.image_path(1) }
      %img{:height => "98", :width => "98", :src => item.image_path(2) }
    %td
      Price: #{item.price}
      %img{:src => "../icons/coins.png"}
      %br
      Description: #{item.description}
      %br
      For sale:
      -if item.active
        %img{:src => "../icons/accept.png"}
      -else
        %img{:src => "../icons/cross.png"}
      %br
      Quantity: #{item.quantity}
      %img{:src => "../icons/package.png"}
      %br
      Owner:
      %a{:href => "/user/#{item.owner.name}"} #{item.owner.name}
  %tr
    %td{:colspan => 2, :align => "center"}
      -if item.active
        %form( action="/item/#{item.id}/activate" method="POST" )
          %input(type="submit" value="Deactivate" name="change_status")
        %form( action="/item/#{item.id}/edit" method="POST" )
          %input(type="submit" disabled="disabled" value="Edit" id="edit_item")
      -else
        %form( action="/item/#{item.id}/activate" method="POST" )
          %input(type="submit" value="Activate" name="change_status")
        %form( action="/item/#{item.id}/edit" method="GET" )
          %input(type="submit" value="Edit" id="edit_item")

%hr
%h3 Comments
%br
Add new Comment:
%br
%form( action="/item/#{item.id}/comments" method="POST" )
  %textarea(cols="50" rows="4" name="comment")
  %input(type="submit" value="submit")
%br
%br
%table#table_new
  %thead
    %th Comment
    %th Author
    %th Time
    %th Delete Comment
  %tbody
    -for array in comments
      %tr
        %td
          #{array[1]}
        %td
          -if Marketplace::Database.instance.user_by_name(array[2]).nil?
            #{array[2]}
          -else
            %a{:href => "/user/#{array[2]}"} #{array[2]}
        %td
          #{array[0]}
        %td
          %form( action="/item/#{item.id}/delete_comment" method="POST" )
            %input(type="hidden" value="#{array[0]}" name="timestamp")
            %input(type='submit' value='Delete')
