%link(rel="stylesheet" type="text/css" href="/style.css")


%h1 Item: #{item.name}
%br

-if info != nil
  %table#table_new
    %td
      %img{:src => "../icons/error.png"}
    %td
      %h2 #{info}
  %br

%table#table_new
  %tr
    %td{:height => 300, :width => 200}
      -if item.pictures.size != 0
        %img{:height => "200", :width => "200", :src => "/item_image_upload/#{item.pictures[0]}"}
        %br
        %img{:height => "98", :width => "98", :src => "/item_image_upload/#{item.pictures[1]}"}
        %img{:height => "98", :width => "98", :src => "/item_image_upload/#{item.pictures[2]}"}
      -else
        %img{:height => "200", :width => "200", :src => "/item_image_upload/default_image.jpg"}
        %br
        %img{:height => "98", :width => "98", :src => "/item_image_upload/default_image.jpg"}
        %img{:height => "98", :width => "98", :src => "/item_image_upload/default_image.jpg"}
    %td
      Price: #{item.price}
      %img{:src => "../icons/coins.png"}
      %br
      For sale:
      -if item.active
        %img{:src => "../icons/accept.png"}
      -else
        %img{:src => "../icons/cross.png"}
      %br
      Quantity: #{item.quantity}
      %img{:src => "../icons/package.png"}
      %br
      Owner:
      %a{:href => "/user/#{item.owner.name}"} #{item.owner.name}
  %tr
    %td{:colspan => 2, :align => "center"}
      -if item.active
        %form( action="/item/#{item.id}/activate" method="POST" )
          %input(type="submit" value="Deactivate")
        %form( action="/item/#{item.id}/edit" method="POST" )
          %input(type="submit" disabled="disabled" value="Edit")
      -else
        %form( action="/item/#{item.id}/activate" method="POST" )
          %input(type="submit" value="Activate")
        %form( action="/item/#{item.id}/edit" method="GET" )
          %input(type="submit" value="Edit")
