%link(rel="stylesheet" type="text/css" href="/style.css")

%h1 Item: #{item.name}
%br

=haml :'message_template', :locals => { :info => info }

%form( action="/item/#{item.id}/edit" method="POST" )
  %table#table_new
    %tr
      %td
        %label Name
      %td
        %input(type="text" name="name" value="#{item.name}")
    %tr
      %td
        %label Price
      %td
        %input(type="text" name="price" value="#{item.price}")
    %tr
      %td
        %label Quantity
      %td
        %input(type="text" name="quantity" value="#{item.quantity}")
    %tr
      %td
        %label Description
      %td
        %textarea(cols="50" rows="4" name="description") #{item.description}
    %tr
      %td{:colspan => 2}
        %input(type="submit" value="Save")

%hr

-if item.pictures.size != 0
  %table#table_new
    %thead
      %th Picture
      %th Action
    %tbody
    -for index in 0..(item.pictures.length - 1)
      %tr
        -if index == 0
          %td{:width => 220, :bgcolor => "#CEF6EC", :align => "center"}
            %img{:height => "200", :width => "200", :src => item.image_path(index) }
        -else
          %td{:width => 220, :align => "center"}
            %img{:height => "200", :width => "200", :src => item.image_path(index) }
        %td
          %form(action = "/item_image_delete" method = "POST")
            %input(type='hidden' name="item_id" value="#{item.id}")
            %input(type='hidden' name="image_pos" value="#{index}")
            %input(type='submit' value='Delete')
          -if index != 0
            %form(action = "/item_image_to_profile" method = "POST")
              %input(type='hidden' name="item_id" value="#{item.id}")
              %input(type='hidden' name="image_pos" value="#{index}")
              %input(type='submit' value='Select as profile picture')
-else
  %table#table_new
    %tr
      %td{:colspan => 2}
        %h3 Pictures
        %img{:height => "200", :width => "200", :src => item.image_path(0)}
-if item.pictures.size < 3
  %form(action = "/item_image_upload" method = "POST" enctype="multipart/form-data")
    %table#table_new
      %tr
        %td
          %h3 Upload picture
          %input(type='hidden' name="item_id" value="#{item.id}")
          %input(type='file' name="file_upload" accept="image/*")
        %td
          %input(type='submit' value='Upload')

%hr

%h3 Item's data history

%table#table_new
  %thead
    %th Date
    %th Description
    %th Price
    %th Select
  %tbody
    -for array in item.description_log
      %tr
        %td
          #{array[0]}
        %td
          #{array[1]}
        %td
          #{array[2]}
        %td
          %form( action="/item_add_description" method="POST" )
            %input(type="hidden" value="#{array[0]}" name="timestamp")
            %input(type="hidden" value="#{item.id}" name="item_id")
            %input(type='submit' value='Select')