%link(rel="stylesheet" type="text/css" href="/style.css")


%h1 Item: #{item.name}
%br

//SHOW MESSAGES AND ERRORS
-if info != nil
  %table#table_new
    -if (info.split(" ~ ").first()=="error")
      -info = info.split(" ~ ").last()
      %td
        %img{:src => "icons/error.png"}
      %td
        %h2 #{info}
    -else
      -info = info.split(" ~ ").last()
      %td
        %img{:src => "icons/success.png"}
      %td
        %h4 #{info}
  %br


%form( action="/item/#{item.id}/edit" method="POST" )
  %table#table_new
    %tr
      %td
        %label Name
      %td
        %input(type="text" name="name" value="#{item.name}")
    %tr
      %td
        %label Price
      %td
        %input(type="text" name="price" value="#{item.price}")
    %tr
      %td
        %input(type="submit" value="Save")

%form( action="/item/#{item.id}" method="GET" )
  %input(type="submit" value="Discard")


-if item.pictures.size < 3
  %form(action = "/item_image_upload" method = "POST" enctype="multipart/form-data")
    %table#table_new
      %tr
        %td
          %h3 Upload picture
          %input(type='hidden' name="item_id" value="#{item.id}")
          %input(type='file' name="file_upload" accept="image/*")
        %td
          %input(type='submit' value='Upload')


-if item.pictures.size != 0
  %table#table_new
    %tr
      %td{:colspan => 2}
        %h3 Pictures
        The picture on top is the displayed item picture(max 3)(max 400*1024)
    -for index in 0..(item.pictures.length - 1)
      %tr
        %td
          %img{:height => "200", :width => "200", :src => "/item_images/#{item.pictures[index]}"}
      %tr
        %td
          %form(action = "/item_image_delete" method = "POST")
            %input(type='hidden' name="item_id" value="#{item.id}")
            %input(type='hidden' name="image_pos" value="#{index}")
            %input(type='submit' value='Delete')
        %td
          %form(action = "/item_image_to_profile" method = "POST")
            %input(type='hidden' name="item_id" value="#{item.id}")
            %input(type='hidden' name="image_pos" value="#{index}")
            %input(type='submit' value='Select as profile picture')
-else
  %table#table_new
    %tr
      %td
        %img{:height => "200", :width => "200", :src => "/item_images/default_image.jpg"}