%link(rel="stylesheet" type="text/css" href="/style.css")

%h1 Item: #{item.name}
%br
%br
%p
Price: #{item.price}
%br
On sale: #{item.active}
%br
Owner:
%a{:href => "/user/#{item.owner.name}"} #{item.owner.name}


-if(session[:name])
  %form(action = "/item/#{item.id}" method="POST")
    %input(name = 'buyItemId' type='hidden' value = '#{item.id}' )
    %input(type='submit' value = 'buy')

%p
%p
%p
%a{:href => "/"} Home