%link(rel="stylesheet" type="text/css" href="/style.css")


%h1 Item: #{item.name}
%br

//SHOW MESSAGES AND ERRORS
-if info != nil and info != ""
  -messages = info.split"~"
  -messages.delete_if{ |s| s.strip == "" }
  %table#table_new
    -while(!messages.empty?)
      %tr
        -type = messages.delete_at(0)
        -type = type.strip

        -if type =="error"
          -text = messages.delete_at(0)
          %td
            %img{:src => "icons/error.png"}
          %td
            %h2 #{text}
        -elsif type == "note"
          -text = messages.delete_at(0)
          %td
            %img{:src => "icons/note.png"}
          %td
            %h4 #{text}
        -else
          %td{:colspan => 2}
            %h4 #{text}


  %br


%form( action="/item/#{item.id}/edit" method="POST" )
  %table#table_new
    %tr
      %td
        %label Name
      %td
        %input(type="text" name="name" value="#{item.name}")
    %tr
      %td
        %label Price
      %td
        %input(type="text" name="price" value="#{item.price}")
    %tr
      %td
        %label Description
      %td
        %textarea(cols="50" rows="4" name="description") #{item.description}
    %tr
      %td{:colspan => 2}
        %input(type="submit" value="Save")



-if item.pictures.size < 3
  %form(action = "/item_image_upload" method = "POST" enctype="multipart/form-data")
    %table#table_new
      %tr
        %td
          %h3 Upload picture
          %input(type='hidden' name="item_id" value="#{item.id}")
          %input(type='file' name="file_upload" accept="image/*")
        %td
          %input(type='submit' value='Upload')


-if item.pictures.size != 0
  %table#table_new
    %tr
      %td{:colspan => 2}
        %h3 Pictures
    -for index in 0..(item.pictures.length - 1)
      %tr
        %td
          %img{:height => "200", :width => "200", :src => item.image_path(index) }
        %td
          %form(action = "/item_image_delete" method = "POST")
            %input(type='hidden' name="item_id" value="#{item.id}")
            %input(type='hidden' name="image_pos" value="#{index}")
            %input(type='submit' value='Delete')
        -if index != 0
          %td
            %form(action = "/item_image_to_profile" method = "POST")
              %input(type='hidden' name="item_id" value="#{item.id}")
              %input(type='hidden' name="image_pos" value="#{index}")
              %input(type='submit' value='Select as profile picture')
-else
  %table#table_new
    %tr
      %td{:colspan => 2}
        %h3 Pictures
        %img{:height => "200", :width => "200", :src => item.image_path(0)}