%link(rel="stylesheet" type="text/css" href="/style.css")

%h1 Item: #{item.name}

- if info != nil
  %h2 #{info}

%form( action="/item/#{item.id}/edit" method="POST" )
  %label Name
  %input(type="text" name="name" value="#{item.name}")
  %p
  %label Price
  %input(type="text" name="price" value="#{item.price}")
  %p
  %input(type="submit" value="Save")

%form( action="/item/#{item.id}" method="GET" )
  %input(type="submit" value="Discard")

- if item.pictures.size < 3
  %h2 picture upload (.gif dont work)
  %form(action = "/item_image_upload" method = "POST" enctype="multipart/form-data")
    %input(type='hidden' name="item_id" value="#{item.id}")
    %input(type='file' name="file_upload" accept="image/*")
    %input(type='submit' value='upload')


- if item.pictures.size != 0
  %h2 Upload preview pictures of your Item
  The first picture is the profile picture(max 3)(max 400*1024)
  - x = 0
  - for image_id in item.pictures
    -# AK What the... ? Wouldn't you just put it before the loop?
    -if x == 0
      %h2 #{x}
      %img{:height => "200", :width => "200", :src => "/item_image_upload/#{image_id}"}
      %form(action = "/item_image_delete" method = "POST")
        %input(type='hidden' name="item_id" value="#{item.id}")
        %input(type='hidden' name="image_pos" value="#{x}")
        %input(type='submit' value='Delete')
      %p
    -else
      %h2 #{x}
      %img{:height => "200", :width => "200", :src => "/item_image_upload/#{image_id}"}
      %form(action = "/item_image_delete" method = "POST")
        %input(type='hidden' name="item_id" value="#{item.id}")
        %input(type='hidden' name="image_pos" value="#{x}")
        %input(type='submit' value='Delete')
      %form(action = "/item_image_to_profile" method = "POST")
        %input(type='hidden' name="item_id" value="#{item.id}")
        %input(type='hidden' name="image_pos" value="#{x}")
        %input(type='submit' value='Profile')
      %p
    - x = x + 1
