%link(rel="stylesheet" type="text/css" href="/style.css")

%h1 Item: #{item.name}

%p
%p
Price: #{item.price}
%p
On sale: #{item.active}

%p
-if item.active
  %a{:href => "/activateItem/#{item.id}"} Deactivate item
-else
  %a{:href => "/activateItem/#{item.id}"} Activate item


%p

-if !item.active
  %a{:href => "/edit/#{item.id}"} Edit
%p
%p
%p


%a{:href => "/"} Home