%link(rel="stylesheet" type="text/css" href="/design.css")

-#Header
%h1 Item: #{item.name}


%p Price: #{item.price}
%p On sale: #{item.active}
%p Owner:
%a{:href => "/user/#{item.owner.name}"} #{item.owner.name}

%a{:href => "/"} Home

%a{:href => "/item/#{item.id}"} Buy


