%link(rel="stylesheet" type="text/css" href="/style.css")


%h1 Item: #{item.name}
-if user.follows?(item)
  %form( action="/unfollow_item" method="POST" )
    %input(type="hidden" name="id" value="#{item.id}")
    %input(type="submit" value="Unfollow")
-else
  %form(action="/follow_item" method="POST")
    %input(type="hidden" name= "id" value="#{item.id}")
    %input(type="submit" value="Follow")

//SHOW MESSAGES AND ERRORS
-if info != nil and info != ""
  -messages = info.split"~"
  -messages.delete_if{ |s| s.strip == "" }
  %table#table_new
    -while(!messages.empty?)
      %tr
        -type = messages.delete_at(0)
        -type = type.strip

        -if type =="error"
          -text = messages.delete_at(0)
          %td
            %img{:src => "icons/error.png"}
          %td
            %h2 #{text}
        -elsif type == "note"
          -text = messages.delete_at(0)
          %td
            %img{:src => "icons/note.png"}
          %td
            %h4 #{text}
        -else
          %td{:colspan => 2}
            %h4 #{text}


  %br

%table#table_new
  %tr
    %td{:height => 300, :width => 200}
      %img{:height => "200", :width => "200", :src => item.image_path(0) }
      %br
      %img{:height => "98", :width => "98", :src => item.image_path(1) }
      %img{:height => "98", :width => "98", :src => item.image_path(2) }
    %td
      Price: #{item.price}
      %img{:src => "../icons/coins.png"}
      %br
      Description: #{item.description}
      %br
      For sale:
      -if item.active
        %img{:src => "../icons/accept.png"}
      -else
        %img{:src => "../icons/cross.png"}
      %br
      Quantity: #{item.quantity}
      %img{:src => "../icons/package.png"}
      %br
      Owner:
      %a{:href => "/user/#{item.owner.name}"} #{item.owner.name}
  %tr
    %td{:colspan => 2, :align => "center"}
      -if item.active
        %form( action="/item/#{item.id}/activate" method="POST" )
          %input(type="submit" value="Deactivate")
        %form( action="/item/#{item.id}/edit" method="POST" )
          %input(type="submit" disabled="disabled" value="Edit")
      -else
        %form( action="/item/#{item.id}/activate" method="POST" )
          %input(type="submit" value="Activate")
        %form( action="/item/#{item.id}/edit" method="GET" )
          %input(type="submit" value="Edit")
