!!!5

%head
  %title
    itemMarket
  %link{:rel =>"stylesheet", :type =>"text/css", :href => url("style.css")}
  %link{:rel => "icon", :type=>"image/png", :href => url("images/fav.png")}


%body
  #pageContainer
    #header
      - if !session[:name]
        #topLoginInfo
          %form( action="/login" method="POST")
            %label
              Username:
              %input(type="text" name="username" value="Username" onfocus="this.value=''")
              %br
            %label
              Password:
              %input(type="password" name="password" style="border='de8231'" value="Password" onfocus="this.value=''")
              %br
            %input(type="submit" text="submit" style="padding-top='3'")
            %label
              or
            %a{:href => "/register"} Register
      -elsif session[:name]
        #topUserInfo
          %img{:height => "40", :width => "40", :align => "left", :src => "../images/#{Marketplace::User.by_name(session[:name]).picture}"}
          %label
            Logged in as:&nbsp
            %br
            #{session[:name]}
            %br
            Current credit:&nbsp
            %br
            #{Marketplace::User.by_name(session[:name]).credits}
        #topButton1
          %a{:href => url("/user/#{session[:name]}")} Goto my profile
        #topButton2
          %a{:href => "/logout"} Logout
    #main_page
      #content
        = yield
    #footer
      %a{:href => "https://github.com/ese-unibe-ch/ese2012-team5"} Visit Team 5 on Github
