!!!5
%head
  %title
    Marketplace
  -# Load css and favicon
  %link{:rel =>"stylesheet", :type =>"text/css", :href => url("design.css")}
  %link{:rel => "shortcut icon", :type=>"image/png", :href => url("images/favicon.png")}
%body
  #body
    -#Shows the logo on top of the page
    #logo
      - if !session[:name]
        #topLoginInfo
          %form( action="/login" method="POST")
            %label
              Username:
              %input(type="text" name="username" value="Username" onfocus="this.value=''")
              %br
            %label
              Password:
              %input(type="password" name="password" style="border='de8231'" value="Password" onfocus="this.value=''")
              %br
            %input(type="submit" text="submit" style="padding-top='3'")
            %label
              or
            %a{:href => "/register"} Register
      -elsif session[:name]
        #topUserInfo
          %img{:height => "40", :width => "40", :align => "left", :src => "../images/#{Marketplace::User.by_name(session[:name]).picture}"}
          %label
            Logged in as:&nbsp
            %br
            #{session[:name]}
            %br
            Your current credit:&nbsp
            %br
            #{Marketplace::User.by_name(session[:name]).credits}
        #topButton1
          %a{:href => url("/user/#{session[:name]}")} Goto my profile
        #topButton2
          %a{:href => "/logout"} Logout







    #page
      -#The navigation
      #menu
        #head_entry
          %h2 Navigation
        %ul.no_indented
          - if session[:name]
            %li.menu_entry
              %a{:href => url("/")} Home
            %li.menu_entry
              %a{:href => url("/user/#{session[:name]}")} Your profile
            %li.menu_entry
              %a{:href => url("/users")} All users
            %li.menu_entry
              %a{:href => url("/add_item")} Add Item
            %li.menu_entry
              %a{:href => url("/settings")} Settings
            %li.menu_entry
              %a{:href => url("/logout")} Logout
          - else
            %li.menu_entry
              %a{:href => url("/login")} Login
            %li.menu_entry
              %a{:href => url("/register")} Register

      -# Here are the other haml files added
      #content
        = yield