!!!5

%head
  %title
    item|market
  %link{:rel =>"stylesheet", :type =>"text/css", :href => url("style.css")}
  %link{:rel => "icon", :type=>"image/png", :href => url("images/fav.png")}

  %link{:rel =>"stylesheet", :type=>"text/css", :href=> url("jquery-ui.css")}
  %script(type= "text/javascript" src= "/jquery-1.8.2.js")
  %script(type= "text/javascript" src= "/jquery-ui.js")
  %script(type= "text/javascript" src= "/jquery.highlight-4.js")

  :javascript
    function Navigate_to(theUrl)
      {
      document.location.href = theUrl;
      }

  :javascript
    $(function() {
    $("#search_query").keyup(function(){
        var q = $("#search_query").val().split(' ').join('_');
        if(q != ""){
        var url = "/search_item/"+q;
        $('#results').load(url);

        $("#content").css("display","none");
        $("#results").css("display","inline");

        }
        else{
        $("#content").css("display","inline");
        $("#results").css("display","none");
        }}); });

  :javascript
    function disableEnterKey(e)
    {
         var key;
         if(window.event)
               key = window.event.keyCode;     //IE
          else
               key = e.which;     //firefox

         if(key == 13)
               return false;
          else
               return true;
    }

%body
  #pageContainer
    #header
      - if !session[:name]
        #topLoginInfo
          %form( action="/login" method="POST")
            %label
              Username:
              %input(class="topInput" type="text" name="username" value="Username" onfocus="this.value=''")
              %br
            %label
              Password:
              %input(class="topInput" type="password" name="password" style="border='de8231'" value="Password" onfocus="this.value=''")
              %br
            %input(type="submit" value="Login" style="padding-top='3'")
            %label
              or
            %a{:href => "/register"} Register
      -elsif session[:name]
        #topUserInfo
          %table#table_top
            %tr
              %td(onclick="Navigate_to('/settings');")
                %img{:height => "40", :width => "40", :align => "center", :src => Marketplace::Database.instance.user_by_name(session[:name]).image_path}
              %td(onclick="Navigate_to('/user/#{session[:name]}');")
                %label{style="float = 'auto'"}
                Logged in as:&nbsp
                %br
                #{session[:name]}
            %tr
              %td(onclick="Navigate_to('/user/#{session[:name]}');" colspan="2")
                Current credit:&nbsp
                %br
                #{Marketplace::Database.instance.user_by_name(session[:name]).credits}
                %img{:src => "../icons/coins.png"}
    #main_page
      #menu
        #chromemenu.chromestyle
          %ul.chromestyle
            - if session[:name]
              %li.chromestyle
                %a.chromestyle{:href => url("/")} Home
              %li.chromestyle
                %a.chromestyle{:href => url("/user/#{session[:name]}")} Your profile
              %li.chromestyle
                %a.chromestyle{:href => url("/createItem")} Add Item
              %li.chromestyle
                %a.chromestyle{:href => url("/createBuyOrder")} Add BuyOrder
              %li.chromestyle
                %a.chromestyle{:href => url("/activity_log/show/5")} ActivityLog
              %li.chromestyle
                %a.chromestyle{:href => url("/settings")} Settings
              %li.chromestyle
                %a.chromestyle{:href => url("/logout")} Logout
              %li.chromestyle

                %form.chromestyle( action="/search_item" method="GET")
                  %input(type="text" id="search_query" name="search_query"  size="15" value="Type to search" onclick="value=''" onKeyPress="return disableEnterKey(event)" )

            - else
              %li.chromestyle
                %a.chromestyle{:href => url("/")} Home
              %li.chromestyle
                %a.chromestyle{:href => url("/login")} Login
              %li.chromestyle
                %a.chromestyle{:href => url("/register")} Register

        :javascript
          cssdropdown.startchrome("chromemenu")

      #content
        = yield

      #results(style="display=none")

    #footer
      %a{:href => "https://github.com/ese-unibe-ch/ese2012-team5"} Visit Team 5 on Github
