%link(rel="stylesheet" type="text/css" href="/style.css")


%h1 Welcome #{current_user.name}
%br

//SHOW MESSAGES AND ERRORS
-if info != nil
  %table#table_new
    -if (info.split(" ~ ").first()=="error")
      -info = info.split(" ~ ").last()
      %td
        %img{:src => "icons/error.png"}
      %td
        %h2 #{info}
    -else
      -info = info.split(" ~ ").last()
      %td
        %img{:src => "icons/success.png"}
      %td
        %h4 #{info}
  %br

%h3 Your Items
%table#table_new
  %thead
    %th Picture
    %th Name
    %th Quantity
    %th Value
    %th Active
  %tbody
    - for item in current_items
      %tr
        %td(width = "74" onclick="Navigate_to('/item/#{item.id}');")
          %img{:height => "70", :width => "70", :src => item.image_path(0) }
        %td{:onclick => "Navigate_to('/item/#{item.id}');", :align => "center"}
          %a #{item.name}
        %td{:onclick => "Navigate_to('/item/#{item.id}');", :align => "center"}
          #{item.quantity}
          %img{:src => "icons/package.png"}
        %td{:onclick => "Navigate_to('/item/#{item.id}');", :align => "center"}
          #{item.price}
          %img{:src => "icons/coins.png"}
        %td{:onclick => "Navigate_to('/item/#{item.id}');", :align => "center"}
          - if item.active
            %img{:src => "icons/accept.png"}
          - else
            %img{:src => "icons/cross.png"}
%br


%h3 Items of other users
%table#table_new
  %thead
    %tr
      %th Picture
      %th Name
      %th Quantity
      %th Value
      %th Owner
      %th Buy
  %tbody
    -for category in categories
      %tr
        %td{:width => "74"}
          %img{:height => "70", :width => "70", :src => category[0].image_path(0) }
        %td{:align => "center"}
          -if category.length > 1
            #{category[0].name}
          -else
            %a{:href => "/item/#{category[0].id}"}#{category[0].name}
        %td{:align => "center"}
          -i = 0
          -for item in category
            -i = i + item.quantity
          #{i}
          %img{:src => "icons/package.png"}
        %td{:align => "center"}
          -if category.length > 1
            %h3 starting at
            #{category[0].price}
          -else
            #{category[0].price}
          %img{:src => "icons/coins.png"}
        %td{:align => "center"}
          -if category.size >1
            #{category.size}
            %img{:src => "icons/user_silhouette.png"}
          -else
            %a{:href => "/user/#{category[0].owner.name}"} #{category[0].owner.name}
        %td
          -if category[0].price <= current_user.credits
            %form( action="/buy" method="GET" )
              %input(type="text" name="quantity" value=1 size=1)
              %input(type='hidden' name="category" value="#{category[0].name}")
              %input(type="submit" value="Continue")
          -else
            %form( action="/buy" method="GET" )
              %input(type="submit" disabled="disabled" value="Continue")
