%link(rel="stylesheet" type="text/css" href="/style.css")


%h1 Welcome #{current_user.name}
%br

-if info != nil
  %h2 #{info}
  %br


Your Items
%table#table_new
  %thead
    %th Picture
    %th Name
    %th Quantity
    %th Value
    %th Active
  %tbody
    - for item in current_items
      %tr
        %td(width = "74" onclick="Navigate_to('/item/#{item.id}');")
          %img{:height => "70", :width => "70", :src => "/item_image_upload/#{item.pictures[0]}"}
        %td(onclick="Navigate_to('/item/#{item.id}');")
          %a #{item.name}
        %td(onclick="Navigate_to('/item/#{item.id}');")
          #{item.quantity}
        %td(onclick="Navigate_to('/item/#{item.id}');")
          #{item.price}
        %td
          - if item.active
            %p yes
          - else
            %p no
%br


Items of other users
%table#table_new
  %thead
    %tr
      %th Picture
      %th Name
      %th Quantity
      %th Value
      %th Owner
      %th Buy
  %tbody
    -for category in categories
      -if category[0].owner != current_user
        %tr
          %td{:width => "74"}
            %img{:height => "70", :width => "70", :src => "/item_image_upload/#{category[0].pictures[0]}"}
          %td
            %a{:href => "/item/#{category[0].id}"}#{category[0].name}
          %td
            -i = 0
            -for item in category
              -i = i + item.quantity
            #{i}
          %td
            #{category[0].price}
            -if category.size()>1
              #{" - "} #{category[category.size()-1].price}
          %td
            -if category.size >1
              #{category.size} owners
            -else
              %a{:href => "/user/#{category[0].owner.name}"} #{category[0].owner.name}
          %td
            -if category[0].price <= current_user.credits
              %form( action="/buy" method="GET" )
                %input(type="text" name="quantity" value=1 size=1)
                %input(type='hidden' name="category" value="#{category[0].name}")
                %input(type="submit" value="Buy")
            -else
              %form( action="/buy" method="GET" )
                %input(type="submit" disabled="disabled" value="Buy")