%link(rel="stylesheet" type="text/css" href="/style.css")


%h1 Welcome Guest

-if info != nil
  %table#table_new
    %td
      %img{:src => "icons/error.png"}
    %td
      %h2 #{info}
  %br

%a
  These are some items you will be able to buy on this page.
  If you haven't already got a Login feel free to register
  and join the wonderful world of trading.
%br


Items of users
%table#table_new
  %thead
    %tr
      %th Picture
      %th Name
      %th Quantity
      %th Value
      %th Owner
  %tbody
    -for category in categories

      %tr
        %td{:width => "74"}
          %img{:height => "70", :width => "70", :src => "/item_image_upload/#{category[0].pictures[0]}"}
        %td{:align => "center"}
          %a{:href => "/item/#{category[0].id}"}#{category[0].name}
        %td{:align => "center"}
          -i = 0
          -for item in category
            -i = i + item.quantity
          #{i}
          %img{:src => "icons/package.png"}
        %td{:align => "center"}
          %h3 starting at
          #{category[0].price}
          %img{:src => "icons/coins.png"}
        %td{:align => "center"}
          -if category.size >1
            #{category.size}
            %img{:src => "icons/user_silhouette.png"}
          -else
            %a{:href => "/user/#{category[0].owner.name}"} #{category[0].owner.name}