%link(rel="stylesheet" type="text/css" href="/style.css")

-#Header
%h1 Welcome #{current_user}
-#List of users Items
Own Items
%table#table_new
  %thead
    %th Picture
    %th Item
    %th Value
    %th Active

  %tbody
    - for item in Marketplace::User.by_name(current_user).items
      %tr
        %td
          Pic
        %td
          %a{:href => "/item/#{item.id}"} #{item.name}
        %td
          #{item.price}
        %td
          - if item.active
            %p yes
          - else
            %p no

List of Items by other users
-#List of all Items, for each user a new Table

%table#table_new
  %thead
    %tr
      %th Picture
      %th Item
      %th Value
      %th Active
      %th Owner
      %th Buy
  %tbody
    -for user in users
      -if user != current_user
        - for item in user.items
          %tr
            %td
              Pic
            %td
              %a{:href => "/item/#{item.id}"}#{item.name}
            %td
              #{item.price}
            %td
              - if item.active
                %p yes
              - else
                %p no
            %td
              %a{:href => "/user/#{user.name}"} #{user.name}
            %td
              Buy