%link(rel="stylesheet" type="text/css" href="/style.css")

-#Header
%h1 Welcome Guest


%a{:href => "/login"} Login
%p
%a{:href => "/register"} Register
%p


-#List of all Items, for each user a new Table
%p
%table{:border => 1}
  %tbody
    %tr
      %th Item
      %th Value
      %th Active
      %th Owner
  - for user in users
    - for item in user.items
      %tr
        %td
          %a{:href => "/item/#{item.id}"} #{item.name}
        %td #{item.price}
        %td
          - if item.active
            %p yes
          - else
            %p no
        %td
          %a{:href => "/user/#{user.name}"} #{user.name}