%link(rel="stylesheet" type="text/css" href="/style.css")

-#Header
%h1 Welcome #{current_user}


Dummycontent
List of users and their items
-#List of all Items, for each user a new Table
-for user in users
  %ps
  %table{:border => 1}
    %tbody
      %tr
        %th Item
        %th Value
        %th Active
        %th Owner
    - for item in user.items
      %tr
        %td #{item.name}
        %td #{item.price}
        %td
          - if item.active
            %p yes
          - else
            %p no
        %td
          %a{:href => "/user/#{user.name}"} #{user.name}