%link(rel="stylesheet" type="text/css" href="/style.css")

You already have An Item called "#{new_item.name}"
%p
Are these Items the same?


%p
  %form( action="/item/#{new_item.id}/edit" method="POST" )
    %input(name="item_id" type="hidden" value= "#{new_item.id}")
    %input(type="submit" value="No, keep them separate and change name")

%p
  %form( action="/item/#{new_item.id}/merge" method="POST" )
    %input(name="item_name" type="hidden" value= "#{new_item.name}")
    %input(type="submit" value="Yes, please merge them")





