%link(rel="stylesheet" type="text/css" href="/style.css")

:javascript
  $(document).ready(function() {
    var wholequery = $("#search_query").val()
    var query_array = wholequery.split(" ");
    var len = query_array.length;
    if(len>1){
      for (var i = 0; i < len ; i++) {
        if (i in query_array) {
          var s = query_array[i];
          $("#search tbody").highlight(s);
        }
      }
    } else {
      $("#search tbody").highlight(wholequery);
    }
  $("#search #ignore").removeHighlight();
  });

%h1 Search
%br

%h3 Search Results for "#{query}"
%br

%table#search
  %thead
    %tr
      %th Picture
      %th Name
      %th Quantity
      %th Value
      %th Owner
      %th Description
      %th Buy
  %tbody
    -if found_items.length < 1
      %tr(id="noresults")
        %td(colspan="6" id="ignore")
          No Results
    -else
      -for category in found_items
        %tr
          %td{:width => "74"}
            %img{:height => "70", :width => "70", :src => "#{category[0].image_path(0)}" }
          %td{:align => "center"}
            -if category.length > 1
              #{category[0].name}
            -else
              %a{:href => "/item/#{category[0].id}"}#{category[0].name}
          %td{:align => "center"}
            -i = 0
            -for item in category
              -i = i + item.quantity
            #{i}
            %img{:src => "../icons/package.png"}
          %td{:align => "center"}
            -if category.length > 1
              %h3{:id=>"ignore"} starting at
              #{category[0].price}
            -else
              #{category[0].price}
            %img{:src => "../icons/coins.png"}
          %td{:align => "center"}
            -if category.size >1
              #{category.size}
              %img{:src => "../icons/user_silhouette.png"}
            -else
              %a{:href => "/user/#{category[0].owner.name}", :id=>"ignore"} #{category[0].owner.name}
          %td
            #{description_map[category[0]]}
          %td
            -if category[0].price <= current_user.credits
              %form( action="/buy" method="GET" )
                %input(type="text" name="quantity" value=1 size=1)
                %input(type='hidden' name="category" value="#{category[0].name}")
                %input(type="submit" value="Continue")
            -else
              %form( action="/buy" method="GET" )
                %input(type="submit" disabled="disabled" value="Continue")

%br

-if found_items.length < 1 && closest_string != ""
  %h2 Did you mean:
  %button(type="button" id = "get_new_result") #{closest_string}
  %input(type="hidden" id="closest_string" value="#{closest_string}")
