%link(rel="stylesheet" type="text/css" href="/style.css")


%h1 Settings
%br

//SHOW MESSAGES AND ERRORS
-if info != nil
  %table#table_new
    -if (info.split(" ~ ").first()=="error")
      -info = info.split(" ~ ").last()
      %td
        %img{:src => "icons/error.png"}
      %td
        %h2 #{info}
    -else
      -info = info.split(" ~ ").last()
      %td
        %img{:src => "icons/success.png"}
      %td
        %h4 #{info}
  %br


%table#table_new
  %td
    %h3 Current picture:
    %br
    %img{:height => "200", :width => "200", :src => "images/#{user.picture}"}
    %br
    %td
      %h3 Upload new picture
      %form(action = "/upload" method = "POST" enctype="multipart/form-data")
        %input(type='file' name="file_upload" accept="image/*")
        %input(type='submit' value='Upload')

  %tr
    %td{:colspan => "2"}
      %h3 List of interests
      %br
      %form( action="/details" method="POST" )
        %textarea(cols="50" rows="4" name="details") #{user.details}
        %input(type="hidden" name="user" value="#{user.name}")
        %input(type="submit" value="submit")
  %tr
    %td{:colspan => "2"}
      %h3 Change password
      %p Password must have at least 4 characters and there must be at least one uppercase letter, one lowercase letter and one number.
      %form( action="/change_password" method="POST" )
        %label Old password:
        %input(type="password" name="old_password")
        %br
        %label New password:
        %input(type="password" name="new_password")
        %br
        %label Confirm new password:
        %input(type="password" name="conf_password")
        %br
        %input(type="hidden" name="user" value="#{user.name}")
        %input(type="submit" value="Change")
  %tr
    %td{:colspan => "2"}
      %h3 Delete account
      %br
      %h2 Note: this cannot be undone!
      %form( action="/delete_account" method="POST" )
        %input(type="checkbox" name="confirm" value="true") Yes, I want to delete my account. I am aware that this cannot be undone.
        %br
        %label Please enter password to ensure verification:
        %input(type="password" name="password")
        %input(type="hidden" name="username" value="#{user.name}")
        %input(type="submit" value="Delete my account")
    %tr
      %td{:colspan => "2"}
        %h3 Deactivate account
        %p All information is saved in case of you register again.
        %h2 Note: this cannot be undone!
        %form( action="/deactivate_user" method="POST" )
          %input(type="checkbox" name="confirm" value="true") Yes, I want to deactivate my account. I am aware that this cannot be undone.
          %br
          %label Please enter password to ensure verification:
          %input(type="password" name="password")
          %input(type="hidden" name="username" value="#{user.name}")
          %input(type="submit" value="Deactivate my account")