%link(rel="stylesheet" type="text/css" href="/style.css")

%h1 #{user.name}
-if !guest
  -if current_user.follows?(user)
    %form( action="/unfollow_user" method="POST" )
      %input(type="hidden" name="name" value="#{user.name}")
      %input(type="submit" value="Unfollow")
  -else
    %form(action="/follow_user" method="POST")
      %input(type="hidden" name= "name" value="#{user.name}")
      %input(type="submit" value="Follow")

//SHOW MESSAGES AND ERRORS
-if info != nil and info != ""
  -messages = info.split"~"
  -messages.delete_if{ |s| s.strip == "" }
  %table#table_new
    -while(!messages.empty?)
      %tr
        -type = messages.delete_at(0)
        -type = type.strip

        -if type =="error"
          -text = messages.delete_at(0)
          %td
            %img{:src => "icons/error.png"}
          %td
            %h2 #{text}
        -elsif type == "note"
          -text = messages.delete_at(0)
          %td
            %img{:src => "icons/note.png"}
          %td
            %h4 #{text}
        -else
          %td{:colspan => 2}
            %h4 #{text}


  %br

%table#table_new
  %td{:height => "205", :width => "205"}
    %img{:height => "200", :width => "200", :src => user.image_path }
  %td
    %h3 Your Interests:
    %br
    - details = user.details.gsub(/\n/, '<br />')
    #{details}
%p
%p

-#List of users Items
%table#table_new
  %thead
    %th Picture
    %th Item
    %th Quantity
    %th Value
    %th Buy
  %tbody
    - for item in items_user
      -if item.active
        %tr
          %td{:width => "74"}
            %img{:height => "70", :width => "70", :src => item.image_path(0) }
          %td{:onclick => "Navigate_to('/item/#{item.id}');", :align => "center"}
            %a{:href => "/item/#{item.id}"} #{item.name}
          %td{:onclick => "Navigate_to('/item/#{item.id}');", :align => "center"}
            #{item.quantity}
            %img{:src => "../icons/package.png"}
          %td{:onclick => "Navigate_to('/item/#{item.id}');", :align => "center"}
            #{item.price}
            %img{:src => "../icons/coins.png"}
          %td
            -if current_user != nil and item.price <= current_user.credits and item.active
              %form( action="/item/#{item.id}/buy" method="POST" )
                %input(type="text" name="quantity" value=1 size =1)
                %input(type="submit" value="Buy")
            -else
              %form( action="/item/#{item.id}/buy" method="POST" )
                %input(type="submit" disabled="disabled" value="Buy")
