%link(rel="stylesheet" type="text/css" href="/style.css")

%h1 #{user.name}


%a{:href => "/"} back

%table
  %td
    #{user.details}
  %td
    %img{:height => "200", :width => "200", :src => "../images/#{user.picture}"}
%p
%p

-#List of users Items
%table{:border => 1}
  %tbody
    %tr
      %th Item
      %th Value
      %th Active
  - for item in user.items
    %tr
      %td
        %a{:href => "/item/#{item.id}"} #{item.name}
      %td #{item.price}
      %td
        - if item.active
          %p yes
        - else
          %p no