%link(rel="stylesheet" type="text/css" href="/style.css")

%h1 #{user.name}
%br

-if info != nil
  %h2 #{info}
  %br

%table#table_new
  %td{:height => "205", :width => "205"}
    %img{:height => "200", :width => "200", :src => "../images/#{user.picture}"}
  %td
    Your Interests:
    %br
    - details = user.details.gsub(/\n/, '<br />')
    #{details}
%p
%p

-#List of users Items
%table#table_new
  %thead
    %th Picture
    %th Item
    %th Quantity
    %th Value
    %th Buy
  %tbody
    - for item in items_user
      %tr
        %td{:width => "74"}
          %img{:height => "70", :width => "70", :src => "/item_image_upload/#{item.pictures[0]}"}
        %td(onclick="Navigate_to('/item/#{item.id}');")
          %a{:href => "/item/#{item.id}"} #{item.name}
        %td(onclick="Navigate_to('/item/#{item.id}');")
          #{item.quantity}
        %td(onclick="Navigate_to('/item/#{item.id}');")
          #{item.price}
        %td
          -if current_user != nil and item.price <= current_user.credits
            %form( action="/item/#{item.id}/buy" method="POST" )
              %input(type="submit" value="Buy")
          -else
            %form( action="/item/#{item.id}/buy" method="POST" )
              %input(type="submit" disabled="disabled" value="Buy")
