%link(rel="stylesheet" type="text/css" href="/style.css")

%h1 #{user.name}
%br

-if info != nil
  %table#table_new
    %td
      %img{:src => "../icons/error.png"}
    %td
      %h2 #{info}
  %br

%table#table_new
  %td{:height => "205", :width => "205"}
    %img{:height => "200", :width => "200", :src => "../images/#{user.picture}"}
  %td
    %h3 Your Interests:
    %br
    - details = user.details.gsub(/\n/, '<br />')
    #{details}
%p
%p

-#List of users Items
%table#table_new
  %thead
    %th Picture
    %th Item
    %th Quantity
    %th Value
    %th Buy
  %tbody
    - for item in items_user
      %tr
        %td{:width => "74"}
          - if item.pictures.size > 0
            %img{:height => "70", :width => "70", :src => "/item_image_upload/#{item.pictures[0]}"}
          - else
            %img{:height => "70", :width => "70", :src => "/item_image_upload/default_image.jpg"}
        %td{:onclick => "Navigate_to('/item/#{item.id}');", :align => "center"}
          %a{:href => "/item/#{item.id}"} #{item.name}
        %td{:onclick => "Navigate_to('/item/#{item.id}');", :align => "center"}
          #{item.quantity}
          %img{:src => "../icons/package.png"}
        %td{:onclick => "Navigate_to('/item/#{item.id}');", :align => "center"}
          #{item.price}
          %img{:src => "../icons/coins.png"}
        %td
          -if current_user != nil and item.price <= current_user.credits
            %form( action="/item/#{item.id}/buy" method="POST" )
              %input(type="text" name="quantity" value=1 size =1)
              %input(type="submit" value="Buy")
          -else
            %form( action="/item/#{item.id}/buy" method="POST" )
              %input(type="submit" disabled="disabled" value="Buy")
