%link(rel="stylesheet" type="text/css" href="/style.css")

%h1 #{user.name}
%br

//SHOW MESSAGES AND ERRORS
-if info != nil
  %table#table_new
    -if (info.split(" ~ ").first()=="error")
      -info = info.split(" ~ ").last()
      %td
        %img{:src => "icons/error.png"}
      %td
        %h2 #{info}
    -else
      -info = info.split(" ~ ").last()
      %td
        %img{:src => "icons/success.png"}
      %td
        %h4 #{info}
  %br

%table#table_new
  %td{:height => 205, :width => 205, :onclick => "Navigate_to('/settings');"}
    %img{:height => "200", :width => "200", :src => "/images/#{user.picture}"}
  %td(onclick="Navigate_to('/settings');")
    %h3 Your Interests:
    %br
    - details = user.details.gsub(/\n/, '<br />')
    #{details}
%p
%p

-#List of users Items
%table#table_new
  %thead
    %th Picture
    %th Item
    %th Quantity
    %th Value
    %th Active
  %tbody
    - for item in items_user
      %tr
        %td{:width => 74}
          - if item.pictures.size > 0
            %img{:height => "70", :width => "70", :src => "/item_images/#{item.pictures[0]}"}
          - else
            %img{:height => "70", :width => "70", :src => "/item_images/default_image.jpg"}
        %td{:onclick => "Navigate_to('/item/#{item.id}');", :align => "center"}
          %a{:href => "/item/#{item.id}"} #{item.name}
        %td{:onclick => "Navigate_to('/item/#{item.id}');", :align => "center"}
          #{item.quantity}
          %img{:src => "../icons/package.png"}
        %td{:onclick => "Navigate_to('/item/#{item.id}');", :align => "center"}
          #{item.price}
          %img{:src => "../icons/coins.png"}
        %td{:onclick => "Navigate_to('/item/#{item.id}');", :align => "center"}
          - if item.active
            %img{:src => "../icons/accept.png"}
          - else
            %img{:src => "../icons/cross.png"}

-if buy_orders.size > 0
  BuyOrders
  %table#table_new
    %thead
      %th ItemName
      %th maxPrice
      %th
    %tbody
      - for buy_order in buy_orders
        %tr
          %td
            #{buy_order.item_name}
          %td
            #{buy_order.max_price}
          %td
            %form( action="/deleteBuyOrder" method="POST" )
              %input(type="hidden" value="#{buy_order.id}" name="id")
              %input(type="submit" value="Delete")