%link(rel="stylesheet" type="text/css" href="/style.css")

%h1 #{user.name}
%br

//SHOW MESSAGES AND ERRORS
-if info != nil and info != ""
  -messages = info.split"~"
  -messages.delete_if{ |s| s.strip == "" }
  %table#table_new
    -while(!messages.empty?)
      %tr
        -type = messages.delete_at(0)
        -type = type.strip

        -if type =="error"
          -text = messages.delete_at(0)
          %td
            %img{:src => "icons/error.png"}
          %td
            %h2 #{text}
        -elsif type == "note"
          -text = messages.delete_at(0)
          %td
            %img{:src => "icons/note.png"}
          %td
            %h4 #{text}
        -else
          %td{:colspan => 2}
            %h4 #{text}


  %br

%table#table_new
  %td{:height => 205, :width => 205, :onclick => "Navigate_to('/settings');"}
    %img{:height => "200", :width => "200", :src => user.image_path }
  %td(onclick="Navigate_to('/settings');")
    %h3 Your Interests:
    %br
    - details = user.details.gsub(/\n/, '<br />')
    #{details}
%p
%p

-#List of users Items
%table#table_new
  %thead
    %th Picture
    %th Item
    %th Quantity
    %th Value
    %th Active
    %th Merge
  %tbody
    - for item in items_user
      %tr
        %td{:width => 74}
          %img{:height => "70", :width => "70", :src => item.image_path(0) }
        %td{:onclick => "Navigate_to('/item/#{item.id}');", :align => "center"}
          %a{:href => "/item/#{item.id}"} #{item.name}
        %td{:onclick => "Navigate_to('/item/#{item.id}');", :align => "center"}
          #{item.quantity}
          %img{:src => "../icons/package.png"}
        %td{:onclick => "Navigate_to('/item/#{item.id}');", :align => "center"}
          #{item.price}
          %img{:src => "../icons/coins.png"}
        %td{:onclick => "Navigate_to('/item/#{item.id}');", :align => "center"}
          - if item.active
            %img{:src => "../icons/accept.png"}
          - else
            %img{:src => "../icons/cross.png"}
        %td
          -for similar_item in items_user
            -if item.mergeable?(similar_item)
              %form( action="/item/#{item.id}/merge" method="GET" )
                %input(type="hidden" value="#{similar_item.id}" name="other_item_id")
                %input(type="submit" value="Merge with ID#{similar_item.id}")


%br

-if buy_orders.size > 0
  BuyOrders
  %table#table_new
    %thead
      %th ItemName
      %th maxPrice
      %th
    %tbody
      - for buy_order in buy_orders
        %tr
          %td
            #{buy_order.item_name}
          %td
            #{buy_order.max_price}
          %td
            %form( action="/deleteBuyOrder" method="POST" )
              %input(type="hidden" value="#{buy_order.id}" name="id")
              %input(type="submit" value="Delete")